<h1>Professionals</h1>

<%= link_to 'New Professional', new_professional_path %>

<ul>
  <% @professionals.each do |professional| %>
    <li>
      <%= link_to professional.name, professional %>
      <%= link_to 'Edit', edit_professional_path(professional) %>
      <%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
